@media only screen  and  (max-width:350px){
    /* ----------------nav start-------------- */
    .nav{
        width: 1068px;


    }
    .pho{

    }
    .navbar{

    }  

    /* ---------------------section --------------------- */
    .jv-info{
        width: 1033px;


    }
    .info{

    }
    .info p{
        font-size: 54px;
        text-align: center;
    }
    .para{

    }
    .btn1{

    }
    /* -------------------------animation------------------------ */
    .animation{

    }
    .animation img{

    }
}