@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}
                                          /*---------------- navigation start---------------------*/
.nav{
    display: flex;
   
    justify-content: space-evenly;
    height: 82px;
    box-shadow: 1px 2px 7px;

}
.pho{
    display: flex;
    align-items: center;

}
.navbar{
    display: flex;
    gap: 41px;
    align-items: center;
    font-size: 16px;

}
.btn{
    display: flex;
    align-items: center;

}
.btn input{
    height: 52px;
    width: 172px;
    background-color: #0d6efd;
    border-radius: 32px;
    font-size: 16px;
}

/* navigetion end */
                                            /* -----------------section start---------------- */
.jv-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 34px;

}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    padding: 50px;

}
.text-color{
    color: #2b70c5;
    
    font-size: 65px;

}
.info h1{
    font-size: 65px;
    text-align: center;
}
.para{
   text-align: center;
   font-size: 20px;
}
.btn1{
    height: 72px;
    width: 238px;
    border-radius: 300px;
    margin: 43px;
    border: 0px;
    transition: 0.5s;
    font-size: 20px;
    background-color: white;
    border: 1px solid gray

}
.btn1:hover{
    background-color:  #0d6efd;
}
                                    /* ------------ animation start ------------- */

.animation{
    display: flex;
    justify-content: center;
    align-items: center;
    height:344px;
    position: relative;
    bottom: 47px;

}
.animation img{
    width: 1423px;
}
                    /* -------------------------------container---------------------------------------- */
.jv-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 19px;
   
}
.txt{

}
.txt-color{
    color: #2b70c5;
}
.txt h1{
    font-size: 48px;
}
.txt1{

}
.container{
    display: flex;
    flex-direction: column;
    gap: 57px;
    margin: 256px;
}
.container1{
    display: flex;
    justify-content: center;
    gap: 24px;

}
.cards{
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.card{
    display: flex;
    gap: 49px;
    justify-content: center;
    height: 189px;
    width: 471px;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #cfcfff;

}
.card1{
    display: flex;
    gap: 49px;
    justify-content: center;
    height: 189px;
    width: 471px;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #cfcfff;

}
.card2{
    display: flex;
    gap: 49px;
    justify-content: center;
    height: 189px;
    width: 471px;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #cfcfff;

}

.detail{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.container2{

}
.mountain{
    display: flex;
    height: 646px;

}
/* <!-----------------------------------------------container2 start--------------------------------------------------> */
.jv-explain{
    background: linear-gradient(0deg, rgba(43, 112, 197, 0.04) 0%, rgba(43, 112, 197, 0.04) 100%), #fff;
    height: 589px;
}
.eg{

}
.text-color{
    font-size: 52px;


}
.jv-txt{
    display: flex;
    flex-direction: column;
    margin: 0px 215px;
    gap: 32px;

}
.heading{

}
.jv-paragraph{
    max-width: 1092px;

}
.heading h1{
    font-size: 51px;
    margin: 80px 0px 10px 0px;

}
.jv-paragraph p{

}
.count{
    display: flex;
    justify-content: space-around;
    margin: 90px 140px;
}


.jv-count{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.count1{

}
.jv-para p{

}
